:root{
    --black-text-color: rgb(34, 34, 34);
    --orange-color: rgb(250, 129, 18);
    --dark-orange-color:rgb(196, 12, 12) ;
    --beige-color:rgb(245, 231, 198);
    --lighter-beige:rgb(250, 243, 225);
}

*{
    /* setting the font for the web */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* set universal button design, same as index theme */
button{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.10);
    border-radius: 30px;

    cursor: pointer;
    color: white;
    background: var(--orange-color);
    border: none;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 600;
}

button:hover{
    transform: translateY(-3px);
    transition: transform 0.4s ease;
    filter: brightness(1.20);
}
/* set a universal input design... so to keep consistency*/
input{
    width: 400px;
    height: 50px;
    padding: 0 20px;

    border-radius: 25px;
    border: 2px solid transparent;

    font-size: 16px;
    font-weight: 500;
    color: var(--black-text-color);

    background-color: #ffffff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);

    outline: none;
    transition: 
        border 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.2s ease;
}
input:focus{
    border-color: var(--orange-color);
    box-shadow: 
        0 0 0 4px rgba(250, 129, 18, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.12);
}
input::placeholder{
    color: #999;
    font-weight: 500;
}


body{
    margin: 0;
    background-color: var(--orange-color);
}

.login-container{
    /* position: absolute; */
    width: 100%;
    /* height is = height of the view port */
    height: 100vh;
    /* background-color: aliceblue; */

    display: flex;
    flex-direction: row;
}

.left-container,
.right-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.bg-image{    
    position: absolute;
    background-image: url("../images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    filter: blur(10px) brightness(90%);
    transform: scale(1.05);
    /* inset: -40px;
    z-index: -1; */
    /* z-index: -3; */
}

.logo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* left: 20px; */
    top: 40%;

}

.logo a{
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}
.logo span{
    /* the logo symbol icon */
    font-size: 60px;
    color: #ffffff;
    background: var(--orange-color);
    border-radius: 20px;
    padding: 4px;
}

#logotitle{
    font-size: 60px;
    font-weight: 550;
    color: var(--orange-color);
    text-decoration: none;
    text-shadow: 0 10px 10px black;
}

#logotitle em{
    font-style: italic;
    color: var(--black-text-color);
    font-weight: 750;
}


/* right container */
/* login containers */

.title h1{
    font-size: 40px;
    font-weight: bold;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* display only on active state */
.login-state.active{
    display: block;
    display: flex;

}
.login-state{
    display: none;
}

/* same border card design for all states to keep consistency */
#choose-role,
#customer-login,
#vendor-login,
#nea-login,
#operator-login{
    background-color: var(--lighter-beige);
    width: 70%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.10);
}

.roles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 20px;
}

.roles button{
    /* override universal width of button */
    width: 250px;
    margin: 6px;
}
.register{
    display: flex;
    flex-direction: column;
}
.register p{
    font-size: 20px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 15px;
}

/* state customer login  */
#customer-login .login-info{
    display: flex;
    flex-direction: column;
}
/* #customer-login .login-info input{

} */

.email-title,.pass-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: 0;
    margin-top: 15px; */
    margin: 10px 0px 10px 0px;

    font-size: 25px;
    gap: 8px;
}

.forgot-pass{
    margin: 20px;
}

.login{
    margin: 20px;
}

.login-with-google{
    border-top: 1px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}