

body {
    /* font: archivo, added by ada, source: google fonts*/
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    
    margin: 0;
    background-color: black;
    /* max-width: 100%; */

    color: black;
}




/* ===================================================================================== */



#navigationbar{
    
    /*font noto serif  */
    font-family: 'Noto Serif', serif;
    position: fixed; 
    /* fixed position so that it will stay as u scroll */
    z-index: 1000;
    /* z index to make layer stay on top of everything else */
    top: 0;
    /* left: 0; */

    display: flex;
    flex-direction: row;

    /* making the navigation bar background translucent/glass look colour */
    background-color: rgb(255, 255, 255,0.85);
    backdrop-filter: blur(6px);

    height: 60px;
    /* 100% width so that it will take up the whole width */
    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    /* note:temporary colors to help with flexbox layout */
    /* background-color: aliceblue; */

    /* padding inside the width of nav bar */
    box-sizing: border-box;

}

/* #navcontainer{

} */

/* logo of the page */

.logo a{
    display: flex;
    align-items: center;
    gap: 8px;
}

#logoimg{
    height: 32px;
    width: 32px;
}

#logotitle{
    font-size: 24px;
    font-weight: 700;
    color: #33363F;
    text-decoration: none;
}



.navitems{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */

    /* gap so they r not too close to each other */
    gap: 32px;

    list-style: none;
    margin: 0;
    padding: 0;

    /* nav menu default colors */
    color: #33363F;
    
}

.navitems li{
    font-size: 20px;
    /* list-style: none; */
}

.navitems a{
    text-decoration: none;
}

/* animation for when hovering the nav items */
.navitems a:hover{
    color: #a200ff;
    transition: color 0.3s ease;
    text-decoration: underline;
}

/* .loginbutton{
    
} */

#loginbtn{
    padding: 8px 75px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: #33363f;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
    color: white;

    /* pointer when cursor is over the button */
    cursor: pointer;

}






/* header/navigation section done by ada  */
/* ===================================================================================== */


/* content of the index page - done by ada*/

/* hero section */
#content{
    position: relative;
    height: 100vh;
    /* make the image fill up the height of the viewport */
}

#main{
    margin: 0;
    width: 100%;
    height: 100%;
}

#main img{
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(45%) blur(4px);

    object-fit: cover;
}

.desc-container{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: center;

    margin-top: 45px;
    padding-right: 0;
    /* background-color: #33363F; */



}

.desctext-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px;
    border-radius: 20px;
    max-width: 500px;
    height: 550px;
    margin-right: 150px;

    /* designing the container */
    background-color: #33363f85;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);

}

.desctext-box h2{
    font-size: 50px;
    text-align: center;
}
.desctext-box p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 90px;
}

/* hero section done by ada */

/* ===================================================================================== */


.title{
    font-size: 20px;
    font-weight: 700;
    color: black;
}


/* map section done by ada */
#hawkerlocationmap-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 20px;
    gap: 32px;

    background-color: white;
}   

#map { 
    height: 750px; 
    width: 90%;
    border-radius: 20px;
}

#hawkersearch{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #222222;
    border: none;
    width: 600px;
}

#searchbtn{
    padding: 10px 20px;
    font-size: 18px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: #33363F;
    color: white;
    cursor: pointer;
}

/* hawker centre section */
#hawkercentres-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 20px;
    gap: 32px;

    background-color: #33363F;
}


.carousel-card-hawker{
    position: relative;
}

.hawkerimage img{
    height: 700px;
    width: auto;
    /* object-fit: cover; */
    border-radius: 20px;
}

.hawkerinfo{
    position: absolute;
    bottom: 40px;
    left: 30px;
}


/* about us section */

#aboutus-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 20px;
    gap: 32px;

    background-color: #222222;
}




/* register section */
#be-a-member-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    padding: 100px 20px;
}





/* contact section */
#contactus-section{
    background-image: url(https://images.unsplash.com/photo-1721794329735-64e3f5fedbd2?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    
}


.form-contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}





/* FOOTER */
#footercontainer{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 90px;
    height: 350px;
    background-color: grey;
}