body {
    /* font: archivo, added by ada, source: google fonts*/
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    margin: 0;
}

#navigationbar{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(121, 121, 121);
}

#navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    background-color: aliceblue;
}

.navitems{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: aqua;
}

