body {
    /* font: archivo, added by ada, source: google fonts*/
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    margin: 0;
}




/* ===================================================================================== */
#navigationbar{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(121, 121, 121);
    padding: 12px 0;
    height: 50px;



}

#navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    padding: 0 50px;

    background-color: aliceblue;
}

/* logo of the page */
.logo a{
    display: flex;
    align-items: center;
    gap: 8px;
}

#logoimg{
    height: 32px;
    width: 32px;
}

#logotitle{
    font-size: 24px;
    font-weight: 700;
    color: #33363F;
    text-decoration: none;
}


.navitems{
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* gap so they r not too close to each other */
    gap: 32px;

    list-style: none;
    margin: 0;
    padding: 0;
    
    background-color: aqua;
}



/* header/navigation section done by ada  */
/* ===================================================================================== */

